{
    "FFMPEG_DIR": "D:/ffmpeg-8.0-full_build-shared",
    "ASS_DIR": "D:/QTproject/AZPlayer/3rd/libass",
    "WINDEPLOYQT_EXE": "D:/Qt/6.6.3/msvc2019_64/bin/windeployqt.exe",
    "TARGET_EXE_PATH": "./out/build/release/appAZPlayer.exe"
}